zsh/.zhistory
zsh/.zcompdump
zsh/zsh-autocomplete
zsh/spaceship
zsh/zsh-autosuggestions
zsh/zsh-syntax-highlighting

nvim/backup
nvim/plugin/packer_compiled.lua
nvim/lazy-lock.json

qtile/__pycache__

tmux/plugins
