* {
	border: none;
  font-family: "FiraCode Medium";
  font-weight: bold;
	min-height: 5px;
}

window#waybar {
  background: #161320;
  opacity: 0.82;
  border-radius: 0;
  padding: 1px 0;
  box-shadow: 0 0 10px #fff;
}

window#waybar.hidden {
	opacity: 0.5;
}

#window {
	margin: 2px 0;
	padding-left: 10px;
	padding-right: 10px;
	transition: none;
  color: transparent;
}

#network, #cpu, #tray, #custom-launcher, #custom-power,
#pulseaudio, #battery, #backlight, #clock,#memory {
  margin: 2px;
  padding: 2px 5;
	border-radius: 5px;
	transition: none;
	color: #DDB6F2;
  margin: 4px;
	font-size: 11px;
}

/* #network { */
/* 	color: #161320; */
/* 	background: #bd93f9; */
/* } */
/**/
/* #pulseaudio { */
/* 	color: #1A1826; */
/* 	background: #FAE3B0; */
/* } */
/**/
/* #battery { */
/* 	color: #161320; */
/* 	background: #B5E8E0; */
/* } */
/**/
/* #battery.charging, #battery.plugged { */
/* 	color: #161320; */
/*     background-color: #B5E8E0; */
/* } */

#battery.critical:not(.charging) {
    /* background-color: #B5E8E0; */
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        /* background-color: #BF616A; */
        color: #B5E8E0;
    }
}

/* #backlight { */
/* 	color: #161320; */
/* 	background: #F8BD96; */
/* } */
/* #clock { */
/* 	color: #161320; */
/* 	background: #ABE9B3; */
/* } */
/**/
/* #memory { */
/* 	color: #161320; */
/* 	background: #DDB6F2; */
/* } */
/* #cpu { */
/* 	color: #161320; */
/* 	background: #96CDFB; */
/* } */
/**/
/* #tray { */
/* 	color: #B5E8E0; */
/* 	background: #161320; */
/* } */

#custom-launcher {
	font-size: 14px;
  color: #89DCEB;
  background: #161320;
}

#custom-power {
	font-size: 13px;
	color: #161320;
	/* background: #F28FAD; */
}

#tags button {
	font-size: 22px;
	padding: 0px;
	margin: 0px 10px;
	color: #bd93f9;
	font-weight: bolder;
}

#tags button:hover {
	color: #89DCEB;
  box-shadow: none;
	background: transparent;
}

#tags button.focused.occupied, #tags button.focused {
	color: #ff9900;
	font-size: 24px;
}

#tags button.occupied {
	color: #89DCEB;
	font-size: 24px;
}

